name: hello


on:
  push:
    branches: [ "main" ]
  schedule:
    - cron:  '30 21 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [21.x]

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.npm
        key: npm-${{ hashFiles('package-lock.json') }} 
        restore-keys: npm-
    - name: npm install command
      run: npm install
    
    - name: discord_hello
      env:
        TOKEN: ${{secrets.TOKEN}}
        APPLICATION_ID: ${{secrets.APPLICATION_ID}}
        GUILD_ID: ${{secrets.GUILD_ID}}
        GEMINI_API_KEY: ${{secrets.GEMINI_API_KEY}}
      run: |
        node scripts/daily_hello.js